*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, minmax(50px, auto));
    grid-gap: 10px;
    background-color: white;  
    
}

.grid-item {
    border-color: black;
    background-color: white;
    padding: 10px;
}

.header{
    grid-column: 1/span 6;
    background-color: rgb(70, 70, 223);
    clip-path: ellipse(97% 100% at 24% 0%);
    height: 500px;
    width: 100%;
    padding: 0px;
    text-align: center;
}

.header img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    opacity: 0.5;
    position: relative;
}

.title{
    position: relative;
    top: -320px;
}

.title h1{
    color: #fff;
    font-size: 300%;
    font-family: "ubuntu";
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;

    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(70, 70, 223); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;

    display: inline-block;    
}
.title p{
    color: #fff;
    font-size: 40px;
    font-family: "ubuntu";
    font-family: "Josefin Sans", sans-serif;
}
@keyframes typing {
  from { width: 0 }
  to { width: 9em }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(70, 70, 223); }
}

.menu{
    position: fixed;
    padding: 0px;
    grid-column: 1/span 7;
    grid-row: 1;
    background-color: transparent;
    /* height: 30px; */
    width: 100%;

    font-size: 20px;
    z-index: 5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    background-image: linear-gradient(to top,transparent, rgb(70, 70, 223));
    /* position: -webkit-sticky; Safari */
    top: 0;
}

li {
    float: right;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    font-family: "ubuntu";
    font-family: "Josefin Sans", sans-serif;
}

li a:hover {
    background-color: rgb(70, 70, 223); 
}
li.left {float: left;}





.galleryCards{
    grid-column: 2/span 4;
    /* background-color: teal; */
    display: grid;
    

    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 30px;
    align-items: stretch;
}
.galleryCardTitle{
    grid-column: 1/span 3;
    text-align: center;
    font-size: 25px;
    font-family: "ubuntu";
    font-family: "Josefin Sans", sans-serif;
    color: rgb(70, 70, 223) ;
}

.galleryCard{
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 6px 0px  rgba(0,0,0,0.3);
    text-align: center;

}
.galleryCard img{
    max-width: 100%;
}

.galleryCard h3, .galleryCard p {
    font-family: "ubuntu";
    font-family: "Josefin Sans", sans-serif;
}
.galleryCard p{
    font-size: 14px;
}

.galleryCards .galleryCard:hover{
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */

    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; 
}


 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.15);
              transform: scale(1.15);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.15);
              transform: scale(1.15);
    }
  }
  

.textGalleryCard {
    text-align: left;
    padding: 20px;
}

.textGalleryCard > button {
    background: rgb(70, 70, 223);
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.projectManager{
    grid-column: 1/span 6;
    background-color: rgb(70, 70, 223) ;
    clip-path: ellipse(88% 48% at 48% 50%);
    /* height: 400px; */
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 50px;
}

.projectManagerPhoto{
    grid-column: 2/ span 2;
    padding: 10px;

    color: white;
    /* clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    float:left; */
}
.projectManagerPhoto h3{
    font-family: "ubuntu";
    font-family: "Josefin Sans", sans-serif;
}

.projectManagerPhoto p{
    font-size: 16px;
}

.projectManagerPhoto img{
    height: 300px;
    clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    float:left;
    margin: 10px;
}
.projectManagerTitle{
    grid-column: 1/span 4;
    text-align: center;
    font-size: 25px;
    font-family: "ubuntu";
    font-family: "Josefin Sans", sans-serif;
    color: white;

}

.projectManager:hover .projectManagerPhoto img{
    
    -webkit-animation: roll-in-left 0.5s ease-in both;
            animation: roll-in-left 0.5s ease-in both;

}
.projectManager:hover .projectManagerPhoto p, .projectManager:hover .projectManagerPhoto h3{
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  

 @-webkit-keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  @keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  


.otherProjectsCards{
    grid-column: 2/span 4;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 50px;
}

.otherProjectsCards hr{
    grid-column: 1/span 2 ;
    border-bottom: 4px solid rgb(70, 70, 223);
    border-radius: 5px;
}

.otherProjectsCards .galleryCard{
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 10px;
}
.otherProjectsCards .galleryCard > img{
    border-radius: 10px;
}


.otherProjectsCards .titleProjectsCards{
    grid-column: 1/span 2;
    text-align: center;


    color: rgb(70, 70, 223);
    font-family: "ubuntu";
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
}

.otherProjectsCards .galleryCard .reverseCard{
    display: none;
}

.otherProjectsCards  .galleryCard:hover{
    transform: rotateY(180deg);
    background-color: rgb(70, 70, 223);
}

.otherProjectsCards .galleryCard:hover>img{
    display: none;
}

.otherProjectsCards  .galleryCard:hover .reverseCard{
    display: block;
    transform: rotateY(180deg);
    color: white;
    font-family: "ubuntu";
    font-family: "Josefin Sans", sans-serif;
    padding: 10px;
}

.reverseCard h3{
    padding-top:5px;
    text-align: center;
    font-size: 50px;
}
.reverseCard p{
    font-size: 20px;
}



.hobbyImages{
    grid-column: 2/span 4;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 50px;
}

.hobbyImages .galleryCard{
    transition: transform 0.8s;
    transform-style: preserve-3d;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
    clip-path: circle(50% at 50% 50%);

}

.hobbyImages .titleImageCards{
    grid-column: 1/span 3;
    text-align: center;


    color: rgb(70, 70, 223);
    font-family: "ubuntu";
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
}

.hobbyImages .galleryCard img{
    transition: 2s;
}

.hobbyImages .galleryCard:hover img{
    transform: scale(1.5) rotate(15deg);
} 

.footer{
	grid-column: 1/7;
	grid-row: 6/7;
	background-color: rgb(70, 70, 223);

    display: grid;

	color: white;
    font-family: "ubuntu";
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;

    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 50px;
}

.footer p{
    font-size: 16px;
}

.footer .mapa{
    grid-column: 2;
}

.footer .textFooter{
    grid-column: 3;
    color: white;
    padding-top: 50px;
    
    font-family: "ubuntu";
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
}
.footer a{
    font-size: 30px;
    color: white;
}

.footer a:hover{
    font-size: 40px;
}




.grid-container .projectManager:hover ~ .menu ul li.aboutMenu a,
.grid-container .header:hover ~ .menu ul li.homeMenu a,
.grid-container .footer:hover ~ .menu ul li.footerMenu a,
.grid-container .otherProjectsCards:hover ~ .menu ul li.projectsMenu a,
.grid-container .galleryCards:hover ~ .menu ul li.newProjectsMenu a,
.grid-container .hobbyImages:hover ~ .menu ul li.hobbyMenu a
{
    background-color: white;
    color:  rgb(70, 70, 223);
}


.grid-container .header:not(:hover) ~ .button-up {
    display:block;
    position: fixed;
    height:100px;
    width:100px;
    color:white;
    background-color: rgb(70, 70, 223);
    bottom: 10%;
    right: 5%;

    font-size: 50px;
    text-align: center;
    border:5px solid white;
    border-radius: 20px;
    margin: auto;
    padding-top: 20px;
}

.button-up{
    display: none;
}

.button-up a{
    color:white;
}

.grid-container .header:not(:hover) ~ .button-up:hover{
    border-color: rgb(70, 70, 223);
    background-color: white;
    color: rgb(70, 70, 223);
    cursor: pointer;
}

.button-up:hover a{
    color: rgb(70, 70, 223);
}

@media (max-width: 1100px) {
    .projectManager{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }


}

@media (max-width: 800px) {
    .projectManager{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .galleryCards{
        grid-column: 1/span 6;
        /* background-color: teal; */
        display: grid;
        
    
        grid-template-columns: repeat(1, 1fr);
    } 
    .galleryCardTitle{
        grid-column: 1;
    }


    .projectManagerPhoto{
        grid-column: 1/ span 6;
    }

    .footer .mapa{
        grid-column: 1/ span 6;
        text-align: center;
    }

    .footer .textFooter{
        grid-column: 1/ span 6;
        text-align: center;
        padding-top: 10px;
    }
    .otherProjectsCards{
        grid-column: 1/span 6;
        
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .titleProjectsCards{
        grid-column: 1;
    }
    .otherProjectsCards .galleryCard{
        grid-column: 1;
    }

    .hobbyImages{
        grid-column: 1/span 6;
        
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .hobbyImages .titleImageCards{
        grid-column: 1;
    }

    .menu{
        font-size: 14px;
    }

    li.left{
        display:none;
    }

    .grid-container .header:not(:hover) ~ .button-up {
        height:75px;
        width:75px;
        font-size: 40px;
        padding-top: 10px;
    }
}