

.grid-container {
display: grid;
grid-template-columns:auto auto auto;
grid-gap: 10px;
background-color: darkgray;
padding: 10px;
}

.grid-item {
    border-color: black;
    background-color: whitesmoke;
    padding: 10px;
}

.image{
    text-align: center;
    height: 300px;
}

img{
    height: 90%;
    width: 90%;
}


@media (max-width: 600px){
    .image{
        grid-column: 1/span 3;
    }

}

